{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("mortscode\\feedback\\assetbundles\\feedback\\FeedbackAsset") %}

{% set fullPageForm = true %}

{% set entry = craft.entries.id(entryId).one() %}
{% set feedback = craft.feedback.getFeedbackById(feedbackId) %}
{% set frontEndReview = feedback.feedbackOrigin == 'origin_frontend' and feedback.feedbackType == 'review' %}
{% set convertButtonText = feedback.feedbackType == 'review'
	? 'Convert to Question'
	: 'Convert to 5-Star Review'
%}

{% switch feedback.feedbackOrigin %}
	{% case 'origin_cp' %}
		{% set originLabel = 'Control Panel' %}
	{% case 'origin_frontend' %}
		{% set originLabel = 'Frontend' %}
	{% case 'origin_disqus' %}
		{% set originLabel = 'Disqus Import' %}
	{% default %}
		{% set originLabel = feedback.feedbackOrigin %}
{% endswitch %}

{% if feedback.ipAddress %}
	{% set location = craft.feedback.getLocationByIp(feedback.ipAddress) %}
{% endif %}

{% set title = entry.title %}

{% set crumbs = [
    { label: 'Feedback', url: url('feedback') }
] %}

{% set statusOptionsArr = craft.feedback.getStatusValues() %}
{% set statusOptions = [] %}

{% for option in statusOptionsArr %}
	{% set optionItem = {
		label: option|capitalize,
		value: option
	} %}

	{% set statusOptions = statusOptions|merge([optionItem]) %}
{% endfor %}

{% set statusLabel = "<span class='status " ~ feedback.feedbackStatus ~ "'></span>Status" %}

{% block details %}
	<div id="settings" class="meta">
		{{ forms.selectField({
			label: statusLabel,
			id: 'feedbackStatus',
			name: 'feedbackStatus',
			options: statusOptions,
			value: feedback.feedbackStatus ?? null
		}) }}
	</div>
	{% if not frontEndReview %}
	<hr/>
	<div class="meta" style="padding: 24px 24px 18px">
		<h2 class="heading">Change Feedback Type</h2>
		<div class="flex">
			<a href="{{ actionUrl('feedback/feedback/convert-feedback', { feedbackId: feedback.id }) }}" class="btn secondary">{{ convertButtonText }}</a>
		</div>
	</div>
	{% endif %}
	<hr/>
	<div class="meta read-only">
		<div class="data">
			<h5 class="heading">Type:</h5>
			<div class="value">
				<span class="feedback-type">{{ feedback.feedbackType|capitalize }}</span>
			</div>
			<h5 class="heading">Created:</h5>
			<div class="value">
				<span class="user-agent">{{ feedback.dateCreated|date() }}</span>
			</div>
			<h5 class="heading">Updated:</h5>
			<div class="value">
				<span class="user-agent">{{ feedback.dateUpdated|date() }}</span>
			</div>
			<h5 class="heading">Origin:</h5>
			<div class="value">
				<span class="user-agent">{{ originLabel }}</span>
			</div>
			<h5 class="heading">Device:</h5>
			<div class="value">
				<span class="user-agent">{{ feedback.userAgent ?? 'None given' }}</span>
			</div>
			{% if location is defined and location %}
				<h5 class="heading">Location:</h5>
				<div class="value">
					<span class="user-agent">{{ location.city }}, {{ location.region }}, {{ location.country }}</span>
				</div>
			{% else %}
				<h5 class="heading">IP Address:</h5>
				<div class="value">
					<span class="user-agent">{{ feedback.ipAddress ?? 'None given' }}</span>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block content %}
	<input type="hidden" name="action" value="feedback/feedback/save">
	<input type="hidden" name="entryId" value="{{ entry.id }}">
	<input type="hidden" name="feedbackId" value="{{ feedback.id }}">
	<input type="hidden" name="name" value="{{ feedback.name }}">
	<input type="hidden" name="email" value="{{ feedback.email }}">
	<input type="hidden" name="rating" value="{{ feedback.rating }}">
	<input type="hidden" name="comment" value="{{ feedback.comment }}">
	<input type="hidden" name="feedbackType" value="{{ feedback.feedbackType }}">
	{{ redirectInput('feedback') }}

	<div id="feedback">
		<div class="feedback-content">
			<h1 class="feedback-name">{{ feedback.name }}</h1>
			<a href="{{ entry.url }}" class="feedback-entry" target="_blank">Link to {{ entry.title }}</a>
			<h2>Email</h2>
			<p class="feedback-email">{{ feedback.email ?: 'None given' }}</p>
			{% if feedback.feedbackType == 'review' %}
				<h2>Rating</h2>
				<p class="feedback-rating">{{ feedback.rating }} / 5</p>
			{% endif %}
			<h2>Comment</h2>
			<p class="feedback-comment">{{ feedback.comment }}</p>
		</div>
		<hr>
		{{ forms.textAreaField({
            first: true,
            label: 'Response',
            id: 'response',
            name: 'response',
            rows: '5',
            value: feedback.response ?? '',
            errors: comment.getErrors('response') ?? '',
        }) }}
	</div>
{% endblock %}
